.flex {
    display: flex;
  }
  
  .user-list,
  .chat-list {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 8px;
  }
  
  .user-list {
    flex-basis: 30%;
  }
  
  .chat-list {
    flex-basis: 70%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .chat-item {
    margin-bottom: 10px;
  }
  
  /* Boshqa kerak bo'lgan stilizatsiya */
  